@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font-family: sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #0074d9;
}

a:hover {
  background-color: #0074d9;
  color: #fff;
}

header {
  background-color: #e2e2e2;
  text-align: center;
}

.current {
  background-color: #0074d9;
  color: #fff;
}

@media only screen and (min-width: 38em) {

  h1 {
    text-align: left;
  }

  ul {
    text-align: right;
  }

}
